<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Math</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
</head>
<body>
<h1>Demo Math Application</h1>
<div ng-app="hrApp">
    <div ng-controller="MathController">
        <p>Number A: <input type="number" ng-model="numberA"></p>
        <p>Number B: <input type="number" ng-model="numberB"></p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" ng-click="mathOperation('+')">Addition</a>
            <a class="btn btn-primary btn-lg" role="button" ng-click="mathOperation('-')">Subtraction</a>
            <a class="btn btn-primary btn-lg" role="button" ng-click="mathOperation('*')">Multiplication</a>
            <a class="btn btn-primary btn-lg" role="button" ng-click="mathOperation('/')">Division</a>
        </p>
        <p>Result: <span ng-bind="result"></span></p>
    </div>
</div>
<script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../scripts/app.js"></script>
<script type="text/javascript" src="../scripts/MathController.js"></script>
</body>
</html>