<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p> First Name: <input type="text" ng-model="firstName"></p>
<p> Last Name: <input type="text" ng-model="lastName"></p>
<p> CNP: <input type="text" ng-model="id"></p>
<p> Age: <input type="text" ng-model="age"></p>

<div class="panel-body">
    <a class="btn btn-primary btn-sm" role="button" ng-click="save()">Save</a>
    <a class="btn btn-primary btn-sm" role="button" ng-click="reset()">Reset</a>
    <a class="btn btn-primary btn-sm" role="button" ng-click="show()">Show/Hide</a>
</div>
<div class="panel-body">
    <a class="btn btn-primary btn-sm" role="button" ng-click="back()">Back</a>
</div>
</body>
</html>